<section id="services">
      <div class="container text-center">
        <header class="mb-5">
          <h2 class="handwriting-text">We provide the following</h2>
          <h5 class="text-uppercase text-gray-500 fw-normal">Our Specialities</h5>
        </header>
        <div class="row gy-4">
          <!-- item-->
            {% for i in servis %}
                <div class="hover-icon-primary col-md-4">
                    <div class="icon mb-4 mx-auto"><i class="far fa-heart"></i></div>
                    <h5 class="text-uppercase">{{ i.title_clean_environment }}</h5>
                    <p class="mb-0 text-muted">{{ i.body_clean_environment}}</p>
                  </div>
                  <div class="hover-icon-primary col-md-4">
                    <div class="icon mb-4 mx-auto"><i class="fas fa-user-tie"></i></div>
                    <h5 class="text-uppercase">{{ i.title_expert_chefs }}</h5>
                    <p class="mb-0 text-muted">{{ i.body_expert_chefs }}</p>
                  </div>
                  <div class="hover-icon-primary col-md-4">
                    <div class="icon mb-4 mx-auto"><i class="fas fa-hamburger"></i></div>
                    <h5 class="text-uppercase">{{ i.title_tasty_food }}</h5>
                    <p class="mb-0 text-muted">{{ i.body_tasty_food }}</p>
                  </div>
            {% endfor %}

        </div>
      </div>
    </section>